body{
    background-color: burlywood;
}

h1 {
    color: aliceblue;
}

pre {
    text-align: center;
    color: aliceblue;
}
#menu{
    text-align: center;
    background-color: white;
    width: 300px;
    margin: auto;
}
#audio{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}